#filters(style="display: none; height: 0; width: 0; overflow: hidden; position: fixed; top: 0; left: 0;")
  svg(height="0")
    defs
      radialgradient#radialGradient-1(cx='3.87638764%', cy='82.7931894%', fx='3.87638764%', fy='82.7931894%', r='109.258898%')
        stop(stop-color='#3023AE', offset='0%')
        stop(stop-color='#E52ADF', offset='54.9641082%')
        stop(stop-color='#F59223', offset='100%')
  svg(height="0")
    filter#monotone
      fecolormatrix(type='matrix', values='0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 -2.1 0.7 3 0.9 0.4')
  svg(height='0')
    filter#noise
      feturbulence(type='fractalNoise', baseFrequency='.7')
      fecomponenttransfer
        fefuncr(type='linear', slope='2', intercept='-.5')
        fefuncg(type='linear', slope='2', intercept='-.5')
        fefuncb(type='linear', slope='2', intercept='-.5')
      fecolormatrix(type='saturate', values='0.1')
      fecomponenttransfer
        fefunca(type='table', tableValues='0 .25')